{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}
{% block head %}
<title>Open Poen - Activiteitsprofiel</title>
<meta property="og:title" content="Open Poen - Activiteitsprofiel" />
{{ super() }}
{% endblock %}

{% block content %}
{% if not subproject.finished %}
{% set title_class = "active-subproject" %}
{% set title = "Lopende activiteit" %}
{% elif subproject.finished and not subproject.justified %}
{% set title_class = "finished-subproject" %}
{% set title = "Afgeronde activiteit" %}
{% elif subproject.finished and subproject.justified %}
{% set title_class = "justified-subproject" %}
{% set title = "Verantwoorde activiteit" %}
{% endif %}

<div class="container">
    <br>
    <h1>{{ subproject.name}}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-sm-9 col-md-6">
            <h2 class="{{ title_class }}">{{ title }}</h2>
            <br>
            <br>
            <b>Initiatief:</b>
            <br>
            <a href="{{ url_for('profile_project', project_id=subproject.project.id) }}">{{ subproject.project.name
                }}</a>
            <br>
            <br>
            {{ macros.info_unit("Beschrijving:", subproject.description) }}
            {{ macros.info_unit("Doel:", subproject.purpose) }}
            {{ macros.info_unit("Doelgroep:", subproject.target_audience) }}
        </div>
        <div class="col-12 col-sm-3 col-md-6">
            {% if image %}
            <div class="attachment-div">
                <a class="embed-responsive embed-responsive-16by9"
                    href="{{ url_for('upload', filename='subproject-attachment/' + image.filename) }}"
                    data-toggle="lightbox" data-gallery="image-gallery-{{ subproject.id }}">
                    <img class="img-fluid embed-responsive-item attachment"
                        src="{{ url_for('upload', filename='subproject-attachment/' + image.filename) }}">
                </a>
            </div>
            {% if permissions.SUBPROJECT_OWNER %}
            <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#bijlage-verwijder-{{ image.id }}">
                Verwijderen
            </button>
            {{ macros.remove_attachment_modal(image, edit_attachment_form) }}
            {% endif %}
            {% elif not image and permissions.SUBPROJECT_OWNER %}
            <form method="POST" enctype="multipart/form-data">
                {{ edit_project_profile_form.csrf_token }}
                {% for f in edit_project_profile_form %}
                {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                {{ wtf.form_field(f, class="form-control") }}
                {% endif %}
                {% endfor %}
                {{ edit_project_profile_form.submit }}
            </form>
            {% else %}
            <i>Profielfoto ontbreekt.</i>
            {% endif %}
        </div>
    </div>
    <br>
    <h1>Sponsoren</h1>
    <br>
    <br>
    {% if subproject.funders | list | length == 0 %}
    <i>Deze activiteit heeft nog geen sponsors.</i>
    <br>
    {% else %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped profile-table">
                <thead>
                    <tr>
                        <th scope="col">Sponsor(s):</th>
                        <th scope="col">(Subsidie-)regeling:</th>
                        <th scope="col">Beschikkingsnummer / referentie:</th>
                        <th scope="col">Budget:</th>
                        <th scope="col">Verantwoord:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funder in funders %}
                    <tr>
                        <!-- No need to check if the value is None, because it's a required field in the funder form. -->
                        <td>{{ funder.name }}</td>
                        <td>{{ funder.subsidy }}</td>
                        <td>{{ funder.subsidy_number }}</td>
                        <td>{{ funder.formatted_budget }}</td>
                        <td>{{ "ja" if funder.justified else "nee" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-md-6">
            {{ macros.info_unit("Budget beschikbaar van sponsoren:", subproject.budget_summary["funders"]) }}
            {{ macros.info_unit("Ingevoerd budget:", subproject.budget_summary["entered"]) }}
            {% if subproject.finished %}
            {{ macros.info_unit("Totaal inkomsten:", subproject.financial_summary["awarded"]) }}
            {{ macros.info_unit("Totaal inbesteding:", subproject.financial_summary["insourcing"]) }}
            {{ macros.info_unit("Totaal besteed:", subproject.financial_summary["expenses"]) }}
            {{ macros.info_unit("Start uitgaven:", subproject.financial_summary["first_payment_date"]) }}
            {{ macros.info_unit("Eind uitgaven:", subproject.financial_summary["last_payment_date"]) }}
            {% endif %}
            <a href="{{ url_for('subproject', project_id=subproject.project.id, subproject_id=subproject.id) }}"><b>Activiteit
                    beheren</b></a>
            {% if not subproject.finished and permissions.PROJECT_OWNER and subproject.has_at_least_one_payment %}
            <br>
            <br>
            <a class="projectprofile-action" data-toggle="modal" data-target="#finish-subproject"><b>Activiteit
                    afronden</b></a>
            {% endif %}
            <br>
            <br>
            {% if subproject.finished and not subproject.justified and permissions.PROJECT_OWNER %}
            <a class="projectprofile-action" data-toggle="modal" data-target="#undo-finish-subproject"><b>Activiteit
                    openen</b></a>
            {% endif %}
        </div>
        <div class="col-12 col-md-6">
            {% if subproject.finished %}
            {{ macros.info_unit("Beschrijving resultaten:", subproject.finished_description) }}
            {% endif %}
        </div>
    </div>

    {% if not subproject.finished and permissions.PROJECT_OWNER and subproject.has_at_least_one_payment %}
    <div class="modal fade" id="finish-subproject" tabindex="-1" role="dialog" aria-labelledby="activiteitAfrondenLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST" class="interactive-form" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="activiteitAfrondenLabel">Activiteit Afronden</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="interactive-unit">
                            <p>U gaat deze activiteit afronden. Controleer de gegevens van deze activiteit.</p>
                            {{ finish_subproject_form.csrf_token }}
                            {{ finish_subproject_form.id }}
                            {{ wtf.form_field(finish_subproject_form.name) }}
                            {{ wtf.form_field(finish_subproject_form.description) }}
                            {{ wtf.form_field(finish_subproject_form.purpose) }}
                            {{ wtf.form_field(finish_subproject_form.target_audience) }}
                            {{ wtf.form_field(finish_subproject_form.budget) }}
                        </div>
                        <div class="interactive-unit">
                            <p>U gaat deze activiteit afronden. Controleer de sponsor(s) van deze activiteit.</p>
                            <p>Ziet u een fout bij deze gegevens? U kunt verbeteringen aanbrengen op de <a
                                    href="{{ url_for('project', project_id=subproject.project.id) }}">initiatiefpagina</a>
                                onder "sponsoren beheren". Het koppelen en ontkoppelen van sponsors kan op de <a
                                    href="{{ url_for('subproject', project_id=subproject.project.id, subproject_id=subproject.id) }}">activiteitspagina</a>.
                            </p>
                            {% if funders | length == 0 %}
                            <i>Deze activiteit heeft geen sponsor(s).</i>
                            {% else %}
                            {% for funder in funders %}
                            <!-- No need to check if the value is None, because it's a required field in the funder form. -->
                            <p>{{ funder.name }}</p>
                            <ul>
                                <li>{{ funder.subsidy }}</li>
                                <li>{{ funder.subsidy_number }}</li>
                                <li>{{ funder.formatted_budget }}</li>
                            </ul>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="interactive-unit">
                            <p>U gaat deze activiteit afronden.</p>
                            <br>
                            <p>Beschrijf hieronder kort wat u heeft gedaan tijdens deze activiteit en welk resultaat
                                deze activiteit heeft opgeleverd.</p>
                            {{ wtf.form_field(finish_subproject_form.finished_description) }}
                            {{ finish_subproject_form.finished }}
                        </div>
                        {% if finish_subproject_form.has_errors %}
                        <div>
                            <p style="color: red; margin-bottom: 0px;">Het formulier bevat fout(en).
                                Doorloop het formulier opnieuw en
                                volg
                                de
                                aanwijzingen op.
                            </p>
                        </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="wizard.prev()"
                            class="btn btn-secondary interactive-prev">Vorige</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                        {{ finish_subproject_form.submit }}
                        <button type="button" onclick="wizard.next()"
                            class="btn btn-primary interactive-next">Volgende</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% if subproject.finished and not subproject.justified and permissions.PROJECT_OWNER %}
    <div class="modal fade" id="undo-finish-subproject" tabindex="-1" role="dialog"
        aria-labelledby="activiteitOpenenLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="activiteitOpenenLabel">Activiteit Openen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Zolang geen sponsoren van deze activiteit zijn verantwoord, is het mogelijk om deze
                            activiteit opnieuw te openen.</p>
                        {{ undo_finish_subproject_form.csrf_token }}
                        {{ undo_finish_subproject_form.finished }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                        {{ undo_finish_subproject_form.submit }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% if modal_id is not none %}
<script>
    window.modal_id = {{ modal_id | safe }}
</script>
{% endif %}
{{ super() }}
<script>
    window.wizard = new FormWizard(".interactive-form")
</script>
{% endblock %}