$blue: #265ed4;
$red: red;
$font-family: "Open Sans";

.new-page {
    page-break-before: always
}

.blue-bar {
    background-color: $blue;
    height: 3px;
}

.title-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 36px;
        font-weight: 600;
    }
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;

}

* {
    font-family: $font-family;
}

.logo {
    height: 64px;
}

@page {
    @bottom-right {
        border-top: 1px solid $red;
        content: "Pagina " counter(page) " van de " counter(pages);
        vertical-align: top;
        width: 100%;
        padding: 1em;
    }
}