$blue: #265ed4;
$red: red;
$font-family: "Open Sans";

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import 'bootstrap';

.new-page {
    page-break-before: always
}

.blue-bar {
    background-color: $blue;
    height: 3px;
}

.amsterdam {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
    padding: 1em;

    img {
        height: 64px;
        opacity: 0.2;
    }
}

#index ul li {
    font-size: 24px;

    a::after {
        content: target-counter(attr(href), page);
        float: right;
    }

    &.index-section {
        list-style: none;
    }
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;

    h1 {
        font-size: 64px;
        font-weight: 600;
    }
}

h1 {
    margin-bottom: 36px;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

* {
    font-family: $font-family;
}

.attachment-container {
    width: 320px;
    height: 320px;
    padding: 32px;
}

.attachment {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#project-name {
    string-set: project-name content();
}

#date-of-issue {
    string-set: date-of-issue content();
    visibility: hidden;
    height: 0
}

@page {
    margin-top: 64px;
    margin-left: 64px;
    margin-bottom: 64px;
    margin-right: 64px;

    @bottom-left {
        content: "Pagina " counter(page) " van de " counter(pages);
        vertical-align: top;
        padding: 1em;
    }

    @bottom-right {
        content: "Verantwoordingsrapportage " string(project-name);
        vertical-align: top;
        padding: 1em;
    }
}

@page :first {
    @bottom-left {
        content: "";
    }

    @bottom-right {
        content: "Verstrekt op " string(date-of-issue);
    }
}