@import "~@openfonts/lexend-deca_latin/index.css";

* {
    font-family: "Lexend Deca", sans-serif;
}

$blue: #265ed4;

.new-page {
    page-break-before: always
}

.blue-bar {
    background-color: $blue;
    height: 3px;
}