.form-action {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.projectprofile-action {
    color: $blue;
}

.projectprofile-action:hover {
    cursor: pointer;
}

.addproject-action:hover {
    cursor: pointer;
}

.active-subproject {
    color: $green;
}

.finished-subproject {
    color: $blue;
}

.justified-subproject {
    color: $red;
}