<div class="title-container">
    <h1>{{ project.name }}</h1>
    <img class="logo img-fluid" src="static/dist/images/logo-og.png" alt="Open Poen logo">
</div>
<div class="new-page">
    <h1>Over initiatief</h1>
    <h4>Beschrijving:</h4>
    <p>{{ project.description }}</p>
    <h4>Doel:</h4>
    <p>{{ project.purpose }}</p>
    <h4>Doelgroep:</h4>
    <p>{{ project.target_audience }}</p>
    <!-- Subsidieregeling and beschikkingsnummer are not on project level. -->
    <h4>Sponsoren:</h4>
    <ul>
        <!-- TODO: Make this a table with all funder info. -->
        {% for funder in project.funders %}
        <li>{{ funder.name }}, {{ funder.subsidy }}, {{ funder.subsidy_number }}</li>
        {% endfor %}
    </ul>
    <!-- No results on project level. -->
</div>
<div class="new-page">
    <h1>Gegevens initiatief</h1>
    <h4>Beheerder initiatief:</h4>
    <p>{{ project.owner }}</p>
    <h4>Initiatiefnemer(s):</h4>
    {% if project.users | list | length == 0 %}
    <i>Dit initiatief heeft geen initiatiefnemers.</i>
    {% else %}
    <ul>
        {% for project_owner in project.users %}
        <li>{{ project_owner.first_name + " " + project_owner.last_name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h4>Contactpersoon: </h4>
    <p>{{ project.owner }}</p>
    <!-- There is no field for contactpersoon telefoonnummer -->
    <h4>Contactpersoon e-mail:</h4>
    <p>{{ project.owner_email }}</p>
    <h4>Adres aanvrager:</h4>
    <p>{{ project.address_applicant }}</p>
    <h4>Rechtsvorm:</h4>
    <p>{{ project.legal_entity }}</p>
    <h4>Inschrijving KvK:</h4>
    <p>{{ project.registration_kvk }}</p>
    <h4>Activiteiten van dit initiatief:</h4>
    {% if project.subprojects | list | length == 0 %}
    <p>Dit initiatief heeft geen activiteiten.</p>
    {% else %}
    <ul>
        {% for subproject in project.subprojects %}
        <li>{{ subproject.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div class="new-page">
    <h1>Financiën initiatief</h1>
    <h4>Totaal budget:</h4>
    <!-- TOOD: Format currency -->
    <p>{{ project.budget }}</p>
    <h4>Totaal inkomsten:</h4>
    <!-- TODO -->
    <p>TODO</p>
    <h4>Totaal inbesteding:</h4>
    <!-- TODO -->
    <p>TODO</p>
    <h4>Totaal besteed:</h4>
    <!-- TODO -->
    <p>TODO</p>
    <h4>Budget per activiteit:</h4>
    {% if project.subprojects | list | length == 0 %}
    <p>Dit initiatief heeft geen activiteiten.</p>
    {% else %}
    <ul>
        {% for subproject in project.subprojects %}
        <!-- TODO: Format currency -->
        <li>{{ subproject.name }}: {{ subproject.budget }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h4>Start uitgaven:</h4>
    <!-- TODO -->
    <p>TODO</p>
    <h4>Eind uitgaven:</h4>
    <!-- TODO  -->
    <p>TODO</p>
</div>
{% for subproject in project.subprojects %}
<div class="new-page">
    <h1>Over activiteit {{ subproject.name }}</h1>
    <h4>Status activiteit:</h4>
    <!-- TODO -->
    <p>TODO: lopend/afgerond/verantwoord</p>
    <h4>Beschrijving:</h4>
    <p>{{ subproject.description }}</p>
    <h4>Doel:</h4>
    <p>{{ subproject.purpose }}</p>
    <h4>Doelgroep:</h4>
    <p>{{ subproject.target_audience }}</p>
    <h4>Sponsoren:</h4>
    <ul>
        <!-- TODO: Make this a table with all funder info. -->
        {% for funder in subproject.funders %}
        <li>{{ funder.name }}, {{ funder.subsidy }}, {{ funder.subsidy_number }}</li>
        {% endfor %}
    </ul>
    <h4>Resultaten {{ subproject.name }}:</h4>
    {% if subproject.finished_description %}
    <p>{{ subproject.finished_description }}</p>
    {% else %}
    <i>Deze activiteit is nog niet afgerond. Om deze reden zijn de resultaten nog niet omschreven.</i>
    {% endif %}
</div>
<div class="new-page">
    <h1>Financiën activiteit {{ subproject.name }}</h1>
</div>
{% endfor %}