<div class="title-container">
    <h1>{{ project.name }}</h1>
</div>

<img class="amsterdam" src="app/static/dist/images/amsterdam.png" alt="Amsterdam logo">

<div class="new-page" id="index">
    <h1>Inhoudsopgave</h1>
    <ul>
        <li><a href="#over-initiatief">Over initiatief</a></li>
        <li><a href="#gegevens-initiatief">Gegevens initiatief</a></li>
        <li><a href="#financiën-initiatief">Financiën initiatief</a></li>
        {% for subproject in project.subprojects %}
        <li><a href="#over-activiteit-{{subproject.id}}">Over activiteit {{ subproject.name }}</a></li>
        <li><a href="#financiën-activiteit-{{subproject.id}}">Financiën activiteit {{ subproject.name }}</a></li>
        <li><a href="#transactieoverzicht-activiteit-{{subproject.id}}">Transactieoverzicht activiteit {{
                subproject.name }}</a></li>
        {% endfor %}
        <li><a href="#transactieoverzicht-overig">Overzicht overige transacties</a></li>
        <li><a href="#geüploade-media">Geüploade media</a></li>
    </ul>
</div>

<div class="new-page">
    <h1 id="over-initiatief">Over initiatief</h1>
    <h4>Beschrijving:</h4>
    <p>{{ project.description }}</p>
    <h4>Doel:</h4>
    <p>{{ project.purpose }}</p>
    <h4>Doelgroep:</h4>
    <p>{{ project.target_audience }}</p>
    <h4>Sponsoren:</h4>
    {% if project.funders | list | length == 0 %}
    <p>Dit initiatief heeft geen sponsoren.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sponsor(s):</th>
                <th scope="col">Subsidieregeling:</th>
                <th scope="col">Beschikkingsnummer:</th>
                <th scope="col">Budget:</th>
                <th scope="col">Verantwoord:</th>
                <th scope="col">Activiteiten:</th>
            </tr>
        </thead>
        <tbody>
            {% for funder in project.funders %}
            <tr>
                <!-- No need to check if the value is None, because it's a required field in the funder form. -->
                <td>{{ funder.name }}</td>
                <td>{{ funder.subsidy }}</td>
                <td>{{ funder.subsidy_number }}</td>
                <td>{{ funder.formatted_budget }}</td>
                <td>{{ "ja" if funder.justified else "nee" }}</td>
                <td>
                    {% if funder.subprojects | list | length == 0 %}
                    geen
                    {% else %}
                    {% for subproject in funder.subprojects %}
                    <p>{{ subproject.name }}</p>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<div class="new-page">
    <h1 id="gegevens-initiatief">Gegevens initiatief</h1>
    <h4>Beheerder initiatief:</h4>
    <p>{{ project.owner }}</p>
    <h4>Initiatiefnemer(s):</h4>
    {% if project.users | list | length == 0 %}
    <p>Dit initiatief heeft geen initiatiefnemers.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Voornaam:</th>
                <th scope="col">Achternaam:</th>
                <th scope="col">Biografie:</th>
                <th scope="col">E-mailadres:</th>
            </tr>
        </thead>
        <tbody>
            {% for user in project.users %}
            <tr>
                <td>{{ "niet ingevuld" if not user.first_name else user.first_name }}</td>
                <td>{{ "niet ingevuld" if not user.last_name else user.last_name }}</td>
                <td>{{ "niet ingevuld" if not user.biography else user.biography }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h4>Contactpersoon: </h4>
    <p>{{ project.owner }}</p>
    <h4>Contactpersoon e-mail:</h4>
    <p>{{ project.owner_email }}</p>
    <h4>Adres aanvrager:</h4>
    <p>{{ project.address_applicant }}</p>
    <h4>Rechtsvorm:</h4>
    <p>{{ project.legal_entity }}</p>
    <h4>Inschrijving KvK:</h4>
    <p>{{ project.registration_kvk }}</p>
    <h4>Activiteiten van dit initiatief:</h4>
    {% if project.subprojects | list | length == 0 %}
    <p>Dit initiatief heeft geen activiteiten.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Naam:</th>
                <th scope="col">Budget:</th>
                <th scope="col">Status:</th>
                <th scope="col">Sponsoren:</th>
            </tr>
        </thead>
        <tbody>
            {% for subproject in project.subprojects %}
            <tr>
                <td>{{ subproject.name }}</td>
                <td>{{ "niet ingevuld" if not subproject.budget else subproject.formatted_budget }}</td>
                <td>{{ subproject.format_status }}</td>
                <td>
                    {% if subproject.funders | list | length == 0 %}
                    geen
                    {% else %}
                    {% for funder in subproject.funders %}
                    <p>{{ funder.formatted_name }}</p>
                    {% endfor %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<div class="new-page">
    <h1 id="financiën-initiatief">Financiën initiatief</h1>
    <h4>Totaal budget:</h4>
    <p>{{ project.formatted_budget }}</p>
    <h4>Totaal inkomsten:</h4>
    <p>{{ project.financial_summary["awarded"] }}</p>
    <h4>Totaal inbesteding:</h4>
    <p>{{ project.financial_summary["insourcing"] }}</p>
    <h4>Totaal besteed:</h4>
    <p>{{ project.financial_summary["expenses"] }}</p>
    <h4>Start uitgaven:</h4>
    <p>{{ project.financial_summary["first_payment_date"] }}</p>
    <h4>Eind uitgaven:</h4>
    <p>{{ project.financial_summary["last_payment_date"] }}</p>
</div>

{% for subproject in project.subprojects %}

<div class="new-page">
    <h1 id="over-activiteit-{{subproject.id}}">Over activiteit {{ subproject.name }}</h1>
    <h4>Status activiteit:</h4>
    <p>{{ subproject.format_status }}</p>
    <h4>Beschrijving:</h4>
    <p>{{ subproject.description }}</p>
    <h4>Doel:</h4>
    <p>{{ subproject.purpose }}</p>
    <h4>Doelgroep:</h4>
    <p>{{ subproject.target_audience }}</p>
    <h4>Activiteitnemer(s):</h4>
    {% if subproject.users | list | length == 0 %}
    <p>Deze activiteit heeft geen activiteitnemers.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Voornaam:</th>
                <th scope="col">Achternaam:</th>
                <th scope="col">Biografie:</th>
                <th scope="col">E-mailadres:</th>
            </tr>
        </thead>
        <tbody>
            {% for user in subproject.users %}
            <tr>
                <td>{{ "niet ingevuld" if not user.first_name else user.first_name }}</td>
                <td>{{ "niet ingevuld" if not user.last_name else user.last_name }}</td>
                <td>{{ "niet ingevuld" if not user.biography else user.biography }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h4>Sponsoren:</h4>
    {% if subproject.funders | list | length == 0 %}
    <p>Deze activiteit heeft geen sponsoren.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Sponsor(s):</th>
                <th scope="col">Subsidieregeling:</th>
                <th scope="col">Beschikkingsnummer:</th>
                <th scope="col">Budget:</th>
                <th scope="col">Verantwoord:</th>
            </tr>
        </thead>
        <tbody>
            {% for funder in subproject.funders %}
            <tr>
                <!-- No need to check if the value is None, because it's a required field in the funder form. -->
                <td>{{ funder.name }}</td>
                <td>{{ funder.subsidy }}</td>
                <td>{{ funder.subsidy_number }}</td>
                <td>{{ funder.formatted_budget }}</td>
                <td>{{ "ja" if funder.justified else "nee" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <h4>Resultaten {{ subproject.name }}:</h4>
    {% if subproject.finished_description %}
    <p>{{ subproject.finished_description }}</p>
    {% else %}
    <p>Deze activiteit is nog niet afgerond. Om deze reden zijn de resultaten nog niet omschreven.</p>
    {% endif %}
</div>

<div class="new-page">
    <h1 id="financiën-activiteit-{{subproject.id}}">Financiën activiteit {{ subproject.name }}</h1>
    <h4>Totaal budget:</h4>
    <p>{{ subproject.formatted_budget }}</p>
    <h4>Totaal inkomsten:</h4>
    <p>{{ subproject.financial_summary["awarded"] }}</p>
    <h4>Totaal inbesteding:</h4>
    <p>{{ subproject.financial_summary["insourcing"] }}</p>
    <h4>Totaal besteed:</h4>
    <p>{{ subproject.financial_summary["expenses"] }}</p>
    <h4>Start uitgaven:</h4>
    <p>{{ subproject.financial_summary["first_payment_date"] }}</p>
    <h4>Eind uitgaven:</h4>
    <p>{{ subproject.financial_summary["last_payment_date"] }}</p>
</div>

<div class="new-page">
    <h1 id="transactieoverzicht-activiteit-{{subproject.id}}">Transactieoverzicht activiteit {{ subproject.name }}</h1>
    {% if subproject.payments | list | length == 0 %}
    <p>Deze activiteit heeft geen transacties.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Bedrag:</th>
                <th scope="col">Ontvanger:</th>
                <th scope="col">Omschrijving:</th>
                <th scope="col">Route:</th>
                <th scope="col">Type:</th>
                <th scope="col">Datum:</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in subproject.payments | sort(attribute="booking_date", reverse=true) %}
            <tr>
                <td>{{ payment.get_formatted_currency() }}</td>
                <td>{{ "niet ingevuld" if not payment.creditor_name else payment.creditor_name }}</td>
                <td>{{ "niet ingevuld" if not payment.short_user_description else payment.short_user_description }}</td>
                <td>{{ payment.route }}</td>
                {% if payment.type == "MANUAL_PAYMENT" %}
                <td>handmatige betaling</td>
                {% elif payment.type == "MANUAL_TOPUP" %}
                <td>handmatige topup</td>
                {% else %}
                <td>BNG</td>
                {% endif %}
                <td>{{ payment.booking_date.strftime('%d-%m-\'%y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endfor %}

<div class="new-page">
    <h1 id="transactieoverzicht-overig">Overzicht overige transacties</h1>
    <p>Transacties worden vanuit de zogenoemde "hoofdactiviteit" toegewezen aan een activiteit. Transacties die nog niet
        zijn toegewezen aan een activiteit, staan hieronder weergeven.</p>
    {% if project.get_payments_without_subproject | list | length == 0 %}
    <p>De "hoofdactiviteit" bevat geen transacties. Alle transacties zijn toegewezen aan een activiteit.</p>
    {% else %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Bedrag:</th>
                <th scope="col">Ontvanger:</th>
                <th scope="col">Omschrijving:</th>
                <th scope="col">Route:</th>
                <th scope="col">Type:</th>
                <th scope="col">Datum:</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in project.get_payments_without_subproject | sort(attribute="booking_date", reverse=true) %}
            <tr>
                <td>{{ payment.get_formatted_currency() }}</td>
                <td>{{ "niet ingevuld" if not payment.creditor_name else payment.creditor_name }}</td>
                <td>{{ "niet ingevuld" if not payment.short_user_description else payment.short_user_description }}</td>
                <td>{{ payment.route }}</td>
                {% if payment.type == "MANUAL_PAYMENT" %}
                <td>handmatige betaling</td>
                {% elif payment.type == "MANUAL_TOPUP" %}
                <td>handmatige topup</td>
                {% else %}
                <td>BNG</td>
                {% endif %}
                <td>{{ payment.booking_date.strftime('%d-%m-\'%y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<div class="new-page">
    <h1 id="geüploade-media">Geüploade media</h1>
    {% for row in project.get_all_attachments() | batch(3, none) %}
    <div style="display: flex;">
        {% for attachment in row %}
        {% if attachment is not none and attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
        <!-- TODO: resize images with flask-resize -->
        <div class="attachment-container">
            <img class="attachment" src="upload/transaction-attachment/{{ attachment.filename }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>