{% import "bootstrap/wtf.html" as wtf %}

{% macro info_unit(title, content) %}
<b>{{ title }}</b>
<br>
{% if content %} {{ content }} {% else %} Niet ingevuld. {% endif %}
<br>
<br>
{% endmacro %}

{% macro format_currency(payment) %}
{% if payment.transaction_amount >= 0 %}
<h6 class="text-blue">+{{ payment.get_formatted_currency() }}</h6>
{% else %}
<h6 class="text-red">{{ payment.get_formatted_currency() }}</h6>
{% endif %}
{% endmacro %}

{% macro render_form_or_info(title, content, form, field) %}
{% if field in form %}
{{ wtf.form_field(form[field]) }}
{% else %}
{{ info_unit(title, content) }}
{% endif %}
{% endmacro %}

{% macro payment_info_left_manual_topup(form, payment) %}
{{ info_unit("Type", "(Handmatige) topup naar betaalpas.") }}
{{ info_unit("Betaalpas", payment.debit_card.card_number) }}
{{ info_unit("Ontvanger", "Betaalpas") }}
{{ render_form_or_info("Bedrag €", format_currency(payment), form, "transaction_amount") }}
{% endmacro %}

{% macro payment_info_left_automatic_topup(form, payment) %}
{{ info_unit("Type", "(Automatische) topup naar betaalpas.") }}
{{ info_unit("Betaalpas", payment.debit_card.card_number) }}
{{ info_unit("Ontvanger", "Betaalpas") }}
{{ info_unit("Transactiedatum", payment.booking_date.strftime('%d-%m-\'%y')) }}
{{ info_unit("Bedrag €", format_currency(payment)) }}
{% endmacro %}

{% macro payment_info_left_debit_card(form, payment) %}
{{ info_unit("Type", "Betaling met betaalpas.") }}
{{ info_unit("Betaalpas", payment.debit_card.card_number) }}
{{ info_unit("Ontvanger", payment.creditor_name) }}
{{ info_unit("Betaalomschrijving", payment.remittance_information_structured) }}
{{ info_unit("Transactiedatum", payment.booking_date.strftime('%d-%m-\'%y')) }}
{{ info_unit("Bedrag €", format_currency(payment)) }}
{% endmacro %}

{% macro payment_info_left_manual_payment(form, payment) %}
{{ info_unit("Type", "Handmatig toegevoegde betaling.") }}
{{ render_form_or_info("Verzender", payment.debtor_name, form, "debtor_name") }}
{{ render_form_or_info("Verzender IBAN", payment.debtor_account, form, "debtor_account") }}
{{ render_form_or_info("Ontvanger", payment.creditor_name, form, "creditor_name") }}
{{ render_form_or_info("Ontvanger IBAN", payment.creditor_account, form, "creditor_account") }}
{{ render_form_or_info("Bedrag €", format_currency(payment), form, "transaction_amount") }}
{% endmacro %}

{% macro payment_info_right(form, payment) %}
{% if form %}
{{ form.csrf_token }}
{{ form.id }}
{% endif %}

{% if "booking_date" in form %}
{{ wtf.form_field(form["booking_date"], class="form-control table-datepicker") }}
{% else %}
{{ info_unit("Transactiedatum", payment.booking_date) }}
{% endif %}

{{ render_form_or_info("Categorie", payment.category.name, form, "category_id") }}
{{ render_form_or_info("Activiteit", payment.subproject.name, form, "subproject_id") }}
{{ render_form_or_info("Route", payment.route, form, "route") }}
{{ render_form_or_info("Korte Omschrijving", payment.short_user_description, form, "short_user_description") }}
{{ render_form_or_info("Lange Omschrijving", payment.long_user_description, form, "long_user_description") }}
{{ render_form_or_info("Verborgen", payment.hidden, form, "hidden") }}

{% if form %}
{{ form.submit }}
{% endif %}

{% if "remove" in form %}
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#transactie-verwijder-{{ payment.id }}">
    Verwijderen
</button>
{% endif %}
{% endmacro %}

{% macro edit_attachment_form_project(attachment, edit_attachment_forms, payment, project_owner, user_subproject_ids) %}
<div class="col-6 col-sm-4">
    <div class="attachment-div">
        {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
        <a class="embed-responsive embed-responsive-1by1"
            href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}"
            data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
            <img class="img-fluid embed-responsive-item attachment"
                src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
        </a>
        {% else %}
        <a class="embed-responsive embed-responsive-1by1" data-toggle="modal" data-target="#pdf{{attachment.id}}">
            <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                <span class="w-100 fa-layers-text text-color-main">{{
                    attachment.mimetype.split('/')[1] }}</span>
            </div>
        </a>
        {% endif %}

        {% if project_owner or payment.subproject.id in user_subproject_ids %}
        {% if attachment.id in edit_attachment_forms %}
        <form method="post">
            {{ edit_attachment_forms[attachment.id]['csrf_token'] }}
            {{ edit_attachment_forms[attachment.id]['id'] }}
            {{ wtf.form_field(edit_attachment_forms[attachment.id]["mediatype"],
            class="form-control") }}
            {{ edit_attachment_forms[attachment.id]['submit'] }}
        </form>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#bijlage-verwijder-{{ attachment.id }}">
            Verwijderen
        </button>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro edit_attachment_form_subproject(attachment, edit_attachment_forms, payment, project_owner, user_in_subproject)
%}
<div class="col-6 col-sm-4">
    <div class="attachment-div">
        {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
        <a class="embed-responsive embed-responsive-1by1"
            href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}"
            data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
            <img class="img-fluid embed-responsive-item attachment"
                src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
        </a>
        {% else %}
        <a class="embed-responsive embed-responsive-1by1" data-toggle="modal" data-target="#pdf{{attachment.id}}">
            <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                <span class="w-100 fa-layers-text text-color-main">{{
                    attachment.mimetype.split('/')[1] }}</span>
            </div>
        </a>
        {% endif %}

        {% if project_owner or user_in_subproject %}
        {% if attachment.id in edit_attachment_forms %}
        <form method="post">
            {{ edit_attachment_forms[attachment.id]['csrf_token'] }}
            {{ edit_attachment_forms[attachment.id]['id'] }}
            {{ wtf.form_field(edit_attachment_forms[attachment.id]["mediatype"],
            class="form-control") }}
            {{ edit_attachment_forms[attachment.id]['submit'] }}
        </form>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#bijlage-verwijder-{{ attachment.id }}">
            Verwijderen
        </button>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endmacro %}