{% import "bootstrap/wtf.html" as wtf %}

<!-- UTILS -->
{% macro info_unit(title, content) %}
<b>{{ title }}</b>
<br>
{% if content %} {{ content }} {% else %} <i>Niet ingevuld.</i> {% endif %}
<br>
<br>
{% endmacro %}

{% macro format_currency(payment) %}
{% if payment.transaction_amount >= 0 %}
<h6 class="text-blue">+{{ payment.get_formatted_currency() }}</h6>
{% else %}
<h6 class="text-red">{{ payment.get_formatted_currency() }}</h6>
{% endif %}
{% endmacro %}

{% macro render_form_or_info(title, content, form, field) %}
{% if field in form %}
{{ wtf.form_field(form[field]) }}
{% else %}
{{ info_unit(title, content) }}
{% endif %}
{% endmacro %}

{% macro render_booking_date(form, payment) %}
{% if "booking_date" in form %}
{{ wtf.form_field(form["booking_date"], class="form-control table-datepicker") }}
{% else %}
{{ info_unit("Transactiedatum", payment.booking_date.strftime('%d-%m-\'%y')) }}
{% endif %}
{% endmacro %}

<!-- PAYMENT -->
{% macro payment_info_left_manual_topup(form, payment) %}
{{ info_unit("Type", "(Handmatige) topup naar betaalpas.") }}
{{ render_booking_date(form, payment) }}
{{ info_unit("Betaalpas", payment.debit_card.card_number) }}
{{ info_unit("Ontvanger", "Betaalpas") }}
{{ render_form_or_info("Bedrag €", format_currency(payment), form, "transaction_amount") }}
{% endmacro %}

{% macro payment_info_left_automatic_topup(form, payment) %}
{{ info_unit("Type", "(Automatische) topup naar betaalpas.") }}
{{ render_booking_date(form, payment) }}
{{ info_unit("Betaalpas", payment.debit_card.card_number) }}
{{ info_unit("Ontvanger", "Betaalpas") }}
{{ info_unit("Bedrag €", format_currency(payment)) }}
{% endmacro %}

{% macro payment_info_left_debit_card(form, payment) %}
{{ info_unit("Type", "Betaling met betaalpas.") }}
{{ render_booking_date(form, payment) }}
{{ info_unit("Betaalpas", payment.debit_card.card_number) }}
{{ info_unit("Ontvanger", payment.creditor_name) }}
{{ info_unit("Betaalomschrijving", payment.remittance_information_structured) }}
{{ info_unit("Bedrag €", format_currency(payment)) }}
{% endmacro %}

{% macro payment_info_left_manual_payment(form, payment) %}
{{ info_unit("Type", "Handmatig toegevoegde betaling.") }}
{{ render_booking_date(form, payment) }}
{{ render_form_or_info("Verzender", payment.debtor_name, form, "debtor_name") }}
{{ render_form_or_info("Verzender IBAN", payment.debtor_account, form, "debtor_account") }}
{{ render_form_or_info("Ontvanger", payment.creditor_name, form, "creditor_name") }}
{{ render_form_or_info("Ontvanger IBAN", payment.creditor_account, form, "creditor_account") }}
{{ render_form_or_info("Bedrag €", format_currency(payment), form, "transaction_amount") }}
{% endmacro %}

{% macro payment_info_right(form, payment) %}
{% if form %}
{{ form.csrf_token }}
{{ form.id }}
{% endif %}
{{ render_form_or_info("Categorie", payment.category.name, form, "category_id") }}
{{ render_form_or_info("Activiteit", payment.subproject.name, form, "subproject_id") }}
{{ render_form_or_info("Route", payment.route, form, "route") }}
{{ render_form_or_info("Korte Omschrijving", payment.short_user_description, form, "short_user_description") }}
{{ render_form_or_info("Lange Omschrijving", payment.long_user_description, form, "long_user_description") }}
{% if "hidden" in form %}
{{ wtf.form_field(form["hidden"]) }}
{% endif %}
{% if "submit" in form %}
{{ form.submit }}
{% endif %}
{% if "remove" in form %}
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#transactie-verwijder-{{ payment.id }}">
    Verwijderen
</button>
{% endif %}
{% endmacro %}

{% macro edit_attachment_form_project(attachment, edit_attachment_forms, payment) %}
<div class="col-6 col-sm-4">
    <div class="attachment-div">
        {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
        <a class="embed-responsive embed-responsive-1by1"
            href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}"
            data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
            <img class="img-fluid embed-responsive-item attachment"
                src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
        </a>
        {% else %}
        <a class="embed-responsive embed-responsive-1by1" data-toggle="modal" data-target="#pdf{{attachment.id}}">
            <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                <span class="w-100 fa-layers-text text-color-main">{{
                    attachment.mimetype.split('/')[1] }}</span>
            </div>
        </a>
        {% endif %}

        {% if payment.editable %}
        <form method="post">
            {{ edit_attachment_forms[attachment.id]['csrf_token'] }}
            {{ edit_attachment_forms[attachment.id]['id'] }}
            {{ wtf.form_field(edit_attachment_forms[attachment.id]["mediatype"],
            class="form-control") }}
            {{ edit_attachment_forms[attachment.id]['submit'] }}
        </form>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#bijlage-verwijder-{{ attachment.id }}">
            Verwijderen
        </button>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro edit_attachment_form_subproject(attachment, edit_attachment_forms, payment) %}
<div class="col-6 col-sm-4">
    <div class="attachment-div">
        {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
        <a class="embed-responsive embed-responsive-1by1"
            href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}"
            data-toggle="lightbox" data-gallery="transaction-gallery-{{ payment.id }}">
            <img class="img-fluid embed-responsive-item attachment"
                src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
        </a>
        {% else %}
        <a class="embed-responsive embed-responsive-1by1" data-toggle="modal" data-target="#pdf{{attachment.id}}">
            <div class="embed-responsive-item bg-grey attachment d-flex" style="word-wrap: break-word">
                <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                <span class="w-100 fa-layers-text text-color-main">{{
                    attachment.mimetype.split('/')[1] }}</span>
            </div>
        </a>
        {% endif %}

        {% if payment.editable %}
        <form method="post">
            {{ edit_attachment_forms[attachment.id]['csrf_token'] }}
            {{ edit_attachment_forms[attachment.id]['id'] }}
            {{ wtf.form_field(edit_attachment_forms[attachment.id]["mediatype"],
            class="form-control") }}
            {{ edit_attachment_forms[attachment.id]['submit'] }}
        </form>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal"
            data-target="#bijlage-verwijder-{{ attachment.id }}">
            Verwijderen
        </button>
        {% endif %}
    </div>
</div>
{% endmacro %}

<!-- ADD PROJECT -->
{% macro trashbin(id, idx, add_margin) %}
{% if add_margin %}
{% set styling = "margin-left: 1rem;" %}
{% else %}
{% set styling = "" %}
{% endif %}
<div class="bng-info-unit addproject-action" style="{{styling}}" onclick="wizard.remove('{{id}}', '{{idx}}')">
    <i class="fas fa-trash fa-2x"></i>
    <p>Verwijderen</p>
</div>
{% endmacro %}

{% macro plussign(entity, name) %}
<div class="bng-info-unit addproject-action" onclick="wizard.add('{{entity}}')">
    <i class="fas fa-plus fa-2x"></i>
    <p>Extra {{ name }} toevoegen.</p>
</div>
{% endmacro %}

{% macro render_single_field_field_list_errors(form) %}
{% if form.errors %}
{% for field, errors in form.errors.items() %}
{% for error in errors %}
<p class="help-block">{{ error }}</p>
{% endfor %}
{% endfor %}
{% endif %}
{% endmacro %}

<!-- PROJECT PROFILE -->
{% macro remove_attachment_modal(image, edit_attachment_form) %}
<div class="modal fade" id="bijlage-verwijder-{{ image.id }}" tabindex="-1" role="dialog"
    aria-labelledby="bijlageVerwijderLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                {{ edit_attachment_form.csrf_token }}
                {{ edit_attachment_form.id }}
                <div style="display: none">{{ edit_attachment_form.mediatype }}</div>
                <div class="modal-header">
                    <h5 class="modal-title" id="bijlageVerwijderLabel">Media Verwijderen</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <p>Weet u zeker dat u deze media wilt verwijderen?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                    {{ edit_attachment_form.remove() }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endmacro %}