{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}
{% block head %}
<title>Open Poen - {{ project.name }}</title>
<meta property="og:title" content="Open Poen - {{ project.name }}" />
{{ super() }}
{% endblock %}

{% block body %}

<body onresize="createDonuts()"
  class="bg-grey project transaction{% if use_square_borders %} use-square-borders{% endif %}">
  {% endblock %}

  {% block content %}
  <div class="container poen-lead project-lead bg-blue">
    <div class="text-center poen-breadcrumb">
      <a href="/">Home</a> > {{ project.name }}
    </div>

    <div class="row">
      <div class="col-10 offset-1">
        <div class="row">
          <div
            class="lead-side-col col-6 col-lg-3 col-xxl-4 order-6 order-lg-1 d-flex flex-column justify-content-between">
            {% if not project_data.hidden_sponsors %}
            <div class="button-poen-small bg-grey-blue mx-auto">gesponsord door</div>

            <div class="card-small bg-white mx-auto d-flex">
              <ul class="card-small-list mx-auto my-auto">
                {% for funder in project.funders %}
                <li><a class="mx-auto my-auto" href="{{ funder.url }}" target="_blank" rel="noopener">{{ funder.name
                    }}</a></li>
                {% endfor %}
              </ul>
            </div>

            {% if permissions.PROJECT_OWNER %}
            <!-- Button trigger modal -->
            <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal"
              data-target="#sponsoren-beheren">
              sponsoren beheren >
            </button>

            <!-- Modal -->
            <div class="modal fade" id="sponsoren-beheren" tabindex="-1" role="dialog"
              aria-labelledby="sponsorenbeherenLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="sponsorenbeherenLabel">Sponsoren Beheren</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal"
                      data-target="#sponsor-toevoegen">
                      sponsor toevoegen
                    </button>

                    <hr>

                    {% for funder_form, funder_object in funder_forms %}
                    <div>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal"
                        data-target="#sponsor-beheren-{{ funder_form.id.data }}">
                        beheren
                      </button>
                      {{ funder_form.name.data }}
                    </div>
                    <br>
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="d-none d-lg-block button-poen-small-hidden bg-blue mx-auto"></div>
            {% endif %}
            {% endif %}
          </div>

          <div class="col-12 col-lg-6 col-xxl-4 order-1 order-lg-4">
            <div class="amounts-card bg-white">
              {% if project.hidden %}
              <p class="text-center"><i>Dit initiatief is verborgen en dus niet te zien door het publiek</i></p>
              {% endif %}
              <div class="amounts-card-title">
                <h1 class="text-center">{{ project.name }}</h1>
              </div>
              <div class="row">
                <div class="col-4 text-right small-gutter">
                  <br>
                  <h3 class="text-blue">resterend</h3>
                  <h2>{{ amounts.left_str }}</h2>
                </div>
                <div class="col-4 text-center donut" data-percentage="{{ amounts.percentage_spent_str }}">
                </div>
                <div class="col-4 small-gutter">
                  <br>
                  <h3 class="text-red">uitgegeven</h3>
                  <h2>{{ amounts.spent_str }}</h2>
                </div>
              </div>
              {% if budget %}
              <h3 class="text-center totaal">budget {{ budget }}</h3>
              <p class="text-center">waarvan reeds ontvangen {{ amounts.awarded_str }}</p>
              {% else %}
              <h3 class="text-center totaal">ontvangen inkomsten {{ amounts.awarded_str }}</h3>
              {% endif %}
              <div class="project-modals-card">
                <div class="text-center">
                  <a href="{{ url_for('profile_project', project_id=project.id) }}"><button type="button"
                      class="btn btn-danger modal-button">
                      initiatief bekijken
                    </button></a>
                </div>
              </div>
            </div>

            {% if permissions.SUBPROJECT_OWNER %}
            <div class="project-modals-card bg-white" style="margin-bottom: 26px;">

              <div class="text-center">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-info modal-button" data-toggle="modal"
                  data-target="#betaalpas-saldo">
                  saldo betaalpas(sen)
                </button>
                <!-- Modal -->
                <div class="modal fade" id="betaalpas-saldo" tabindex="-1" role="dialog"
                  aria-labelledby="betaalpasSaldoLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="betaalpasSaldoLabel">Saldo betaalpas(sen)</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <p class="text-center">Klik <a href="https://www.prepaidsaldo.com/" target="_blank"
                            rel="noopener noreferrer">hier</a> om het meest actuele saldo van je betaalpas te bekijken.
                          Vul op deze pagina het klantnummer en de veiligheidscode in zoals aangegeven op de betaalpas
                          en klik op 'next'. De saldi hieronder kunnen namelijk enkele dagen achterlopen.</p>
                        {% for debit_card_donut in debit_card_donuts %}
                        <div class="betaalpas-unit bg-grey-blue">
                          <h3 class="text-center">{{ debit_card_donut.card_number }}</h3>
                          <div class="row">
                            <div class="col-4 text-right small-gutter">
                              <br>
                              <h3 style="color: #009de6">resterend</h3>
                              <h2>{{ debit_card_donut.left_str }}</h2>
                            </div>
                            <div class="col-4 text-center donut betaalpas-donut"
                              data-percentage="{{ debit_card_donut.percentage }}">
                            </div>
                            <div class="col-4 small-gutter">
                              <br>
                              <h3 style="color: #004699">uitgegeven</h3>
                              <h2>{{ debit_card_donut.spent_str }}</h2>
                            </div>
                          </div>
                          <h3 class="text-center">Totaal: {{ debit_card_donut.awarded_str }}</h3>
                        </div>
                        {% endfor %}
                        {% if not debit_card_donuts %}
                        <h3 class="text-center">Er zijn nog geen betaalpassen gekoppeld aan dit project.</h3>
                        {% endif %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Terug</button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-danger modal-button" data-toggle="modal"
                  data-target="#betaalpas-kwijt">
                  ik ben een betaalpas kwijt
                </button>

                <!-- Modal -->
                <div class="modal fade" id="betaalpas-kwijt" tabindex="-1" role="dialog"
                  aria-labelledby="betaalpasKwijtLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="betaalpasKwijtLabel">Betaalpas Kwijt</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-left">
                        <p>Neem alsjeblieft contact op met Gemeente Amsterdam in het geval van verlies van je betaalpas.
                          Hiervoor kan je een e-mail sturen naar: </p>
                        <br>
                        <p>openpoen@amsterdam.nl</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Terug</button>
                      </div>
                    </div>
                  </div>
                </div>

                {% if permissions.PROJECT_OWNER %}

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary modal-button" data-toggle="modal"
                  data-target="#project-beheren">
                  initiatief beheren
                </button>

                <!-- Modal -->
                <div class="modal fade" id="project-beheren" tabindex="-1" role="dialog"
                  aria-labelledby="projectbeherenLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form method="POST">
                        <div class="modal-header">
                          <h5 class="modal-title" id="projectbeherenLabel">Initiatief beheren</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body text-left">
                          <b>Initiatiefnemers</b>
                          <br>
                          <br>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn button-poen-small bg-grey" data-toggle="modal"
                            data-target="#project-owner-toevoegen">
                            initiatiefnemer toevoegen
                          </button>

                          <br>
                          <br>

                          {% for edit_project_owner_form, project_owner_email in project_owners %}
                          <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal"
                              data-target="#project-owner-beheren-{{ edit_project_owner_form.id.data }}">
                              initiatiefnemer beheren
                            </button>
                            {{ project_owner_email }}
                          </div>
                          <br>
                          {% endfor %}

                          <hr>

                          {% if permissions.ADMIN %}
                          <b>Betaalpassen</b>
                          <br>
                          <br>
                          <!-- Button trigger modal -->
                          <button type="button" class="btn button-poen-small bg-grey" data-toggle="modal"
                            data-target="#betaalpas-toevoegen">
                            betaalpas toevoegen
                          </button>

                          <br>
                          <br>

                          {% for edit_debit_card_form, card_number in edit_debit_card_forms %}
                          <div>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn button-poen-small bg-grey-blue" data-toggle="modal"
                              data-target="#betaalpas-beheren-{{ edit_debit_card_form.id.data }}">
                              betaalpas beheren
                            </button>
                            {{ card_number }}
                          </div>
                          <br>

                          {% endfor %}

                          <hr>
                          {% endif %}

                          <b>Algemene initiatiefinstellingen</b>
                          <br>
                          <br>

                          <div>
                            {{ project_form.csrf_token }}

                            {% for f in project_form %}
                            {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                            {{ wtf.form_field(f, class="form-control") }}
                            {% endif %}
                            {% endfor %}
                            {{ project_form.id }}
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>

                          {# Make sure this 'Opslaan' submit button is listed before the 'Verwijderen' submit button to
                          make sure
                          that hitting 'enter' defaults to the 'Opslaan' submit button #}
                          {{ project_form.submit }}

                          {% if permissions.ADMIN %}
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#project-verwijder-{{ project_data['id'] }}">
                            Verwijderen
                          </button>

                          <!-- Modal -->
                          <div class="modal fade" id="project-verwijder-{{ project_data['id'] }}" tabindex="-1"
                            role="dialog" aria-labelledby="projectVerwijderLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <form method="POST">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="projectVerwijderLabel">Initiatief Verwijderen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <div>
                                      <p>Weet u zeker dat u initiatief "<b>{{ project_data['name'] }}</b>" wilt
                                        verwijderen? Hiermee
                                        worden alle transacties van de bijbehorende bankrekening en de door de
                                        gebruikers
                                        toegevoegde beschrijvingen en plaatjes uit de database van Open Poen verwijderd!
                                        Ook worden
                                        alle activiteiten die onder dit initiatief vallen verwijderd! Als u een
                                        initiatief niet wilt tonen
                                        aan het publiek kunt u het initiatief ook 'verbergen' in plaats van verwijderen.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Annuleren</button>
                                    {{ project_form.remove }}
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                {% endif %}

              </div>

              {% if bng_info %}
              <div class="project-modal-bng-status">
                <h3 class="text-center">Status BNG-koppeling</h3>
                <div class="bng-info-unit">
                  <i class="fas fa-link fa-2x fa-fw" style="color: {{ bng_info['created']['color'] }}"></i>
                  <p>{{ bng_info["created"]["message"] }}</p>
                </div>
                <div class="bng-info-unit">
                  <i class="fas fa-wifi fa-2x fa-fw" style="color: {{ bng_info['status']['color'] }}"></i>
                  <p>{{ bng_info["status"]["message"] }}</p>
                </div>
                <div class="bng-info-unit">
                  <i class="fas fa-check-circle fa-2x fa-fw" style="color: {{ bng_info['days_left']['color'] }}"></i>
                  <p>{{ bng_info["days_left"]["message"] }}</p>
                </div>
                <div class="bng-info-unit">
                  <i class="fas fa-sync-alt fa-2x fa-fw" style="color: {{ bng_info['sync']['color'] }}"></i>
                  <p>{{ bng_info["sync"]["message"] }}</p>
                </div>
              </div>
              {% endif %}

            </div>
            {% endif %}
          </div>

          <div class="lead-side-col col-6 col-lg-3 col-xxl-4 order-9 d-flex flex-column justify-content-between">
            <div class="button-poen-small bg-grey-blue mx-auto">activiteiten</div>

            <div class="card-small bg-white mx-auto d-flex">
              <ul class="card-small-list mx-auto my-auto">
                {% for subproject in project.subprojects %}
                {% if not subproject.hidden or (permissions.PROJECT_OWNER or subproject.id in user_subproject_ids) %}
                <li><a href="{{ url_for('subproject', project_id=project.id, subproject_id=subproject.id) }}">{{
                    subproject.name }}</a></li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>

            {% if permissions.PROJECT_OWNER and subproject_form.funders.query | length > 0 %}
            <!-- Button trigger modal -->
            <button type="button" class="btn button-poen-small bg-grey-blue mx-auto" data-toggle="modal"
              data-target="#subproject-toevoegen">
              activiteit toevoegen >
            </button>

            <!-- Modal -->
            <div class="modal fade" id="subproject-toevoegen" tabindex="-1" role="dialog"
              aria-labelledby="subprojectToevoegenLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form method="POST" class="interactive-form" novalidate>
                    <div class="modal-header">
                      <h5 class="modal-title" id="subprojectToevoegenLabel">Activiteit Toevoegen</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      {{ subproject_form.csrf_token }}
                      <div class="interactive-unit">
                        <h2>Over activiteit</h2>
                        <hr>
                        {{ wtf.form_field(subproject_form.name) }}
                        {{ wtf.form_field(subproject_form.description) }}
                        {{ wtf.form_field(subproject_form.purpose) }}
                        {{ wtf.form_field(subproject_form.target_audience) }}
                        {{ wtf.form_field(subproject_form.hidden) }}
                        {{ wtf.form_field(subproject_form.budget) }}
                        {{ subproject_form.project_id }}
                      </div>
                      <div class="interactive-unit">
                        <h2>Sponsor(s) activiteit</h2>
                        <hr>
                        {% for f in subproject_form.funders %}
                        {{ wtf.form_field(f) }}
                        {% endfor %}
                        {% for error in subproject_form.funders.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                      </div>
                      {% if subproject_form.has_errors %}
                      <div>
                        <p style="color: red; margin-bottom: 0px;">Het formulier bevat fout(en).
                          Doorloop het formulier opnieuw en
                          volg
                          de
                          aanwijzingen op.
                        </p>
                      </div>
                      {% endif %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" onclick="wizard.prev()"
                        class="btn btn-secondary interactive-prev">Vorige</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Annuleren</button>
                      {{ subproject_form.submit }}
                      <button type="button" onclick="wizard.next()"
                        class="btn btn-primary interactive-next">Volgende</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% else %}
            <div class="d-none d-lg-block button-poen-small-hidden bg-blue mx-auto"></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1 poen-content bg-white">
        <div class="row">
          <div class="col-12">
            <div id="toolbar">
              {% if permissions.ADMIN %}
              <!-- Button trigger modal -->
              <button type="button" class="btn button-poen-small button-toolbar bg-grey-blue mx-auto"
                style="width: auto;" data-toggle="modal" data-target="#modal-topup-toevoegen">
                + storting naar betaalpas
              </button>

              <!-- Modal -->
              <div class="modal fade" id="modal-topup-toevoegen" tabindex="-1" role="dialog"
                aria-labelledby="topupToevoegenLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form method="POST" enctype="multipart/form-data">
                      <div class="modal-header">
                        <h5 class="modal-title" id="topupToevoegenLabel">Storting Betaalpas Toevoegen
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ new_topup_form.csrf_token }}

                        {% for f in new_topup_form %}
                        {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' and f.name !=
                        "new_topup_form-booking_date" %}
                        {{ wtf.form_field(f, class="form-control") }}
                        {% endif %}
                        {% if f.name == "new_topup_form-booking_date" %}
                        {{ wtf.form_field(f, class="form-control add-topup-datepicker") }}
                        {% endif %}
                        {% endfor %}
                        {{ new_topup_form.project_id }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        {{ new_topup_form.submit() }}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}

              {% if permissions.FINANCIAL %}
              <button type="button" class="btn button-poen-small button-toolbar bg-grey-blue mx-auto"
                data-toggle="modal" data-target="#modal-betaling-toevoegen">
                + betaling
              </button>

              <div class="modal fade" id="modal-betaling-toevoegen" tabindex="-1" role="dialog"
                aria-labelledby="betalingToevoegenLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form method="POST" enctype="multipart/form-data">
                      <div class="modal-header">
                        <h5 class="modal-title" id="betalingToevoegenLabel">Betaling Toevoegen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        {{ new_payment_form.csrf_token }}

                        {% for f in new_payment_form %}
                        {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' and f.name !=
                        "new_payment_form-booking_date" %}
                        {{ wtf.form_field(f, class="form-control") }}
                        {% endif %}
                        {% if f.name == "new_payment_form-booking_date" %}
                        {{ wtf.form_field(f, class="form-control add-payment-datepicker") }}
                        {% endif %}
                        {% endfor %}
                        {{ new_payment_form.project_id }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
                        {{ new_payment_form.submit() }}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endif %}

              <!-- Button trigger modal -->
              <button type="button" class="btn button-poen-small button-toolbar bg-grey-blue mx-auto"
                data-toggle="modal" data-target="#alle-media">
                alle media
              </button>

              <!-- Modal -->
              <div class="modal fade" id="alle-media" tabindex="-1" role="dialog" aria-labelledby="alleMediaLabel"
                aria-hidden="true">
                <div class="modal-dialog wide-modal" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="alleMediaLabel">Alle Media</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        {% for payment in payments|sort(attribute='booking_date', reverse=true) %}
                        {% if not payment.hidden or (permissions.PROJECT_OWNER or payment.subproject.id in
                        user_subproject_ids) %}
                        {% for attachment in payment.attachments %}
                        <div class="col-6 col-sm-2">
                          <div class="attachment-div">
                            {% if attachment.mimetype in ['image/jpeg', 'image/jpg', 'image/png'] %}
                            <a class="embed-responsive embed-responsive-1by1"
                              href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}"
                              data-toggle="lightbox" data-gallery="transaction-gallery-alle-media">
                              <img class="img-fluid embed-responsive-item attachment"
                                src="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">
                            </a>
                            {% else %}
                            <a class="embed-responsive embed-responsive-1by1" data-toggle="modal" ,
                              data-target="#pdf{{attachment.id}}">
                              <div class="embed-responsive-item bg-grey attachment d-flex"
                                style="word-wrap: break-word">
                                <i class="fas fa-file w-75 h-75 mx-auto my-auto text-blue-light"></i>
                                <span class="w-100 fa-layers-text text-color-main">{{ attachment.mimetype.split('/')[1]
                                  }}</span>
                              </div>
                            </a>
                            {% endif %}
                          </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              {% for payment in payments|sort(attribute='created', reverse=true) %}
              {% if not payment.hidden or (permissions.PROJECT_OWNER or payment.subproject.id in user_subproject_ids) %}
              {% for attachment in payment.attachments %}
              {% if attachment.mimetype not in ['image/jpeg', 'image/jpg', 'image/png'] %}
              <div class="modal fade" id="pdf{{attachment.id}}" tabindex="-1" role="dialog"
                aria-labelledby="{{ attachment.filename }}">
                <div class="modal-dialog wide-modal" role="document">
                  <div class="modal-content" style="height: 90vh">
                    <div class="modal-body">
                      <object data="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}"
                        type="application/pdf" width="100%" height="100%">
                        <p>Je hebt geen PDF-viewer geïnstalleerd op je browser. Klik <a
                            href="{{ url_for('upload', filename='transaction-attachment/' + attachment.filename) }}">hier</a>
                          om de
                          PDF te downloaden.</p>
                      </object>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}


            </div>
            <table class="payment-table" data-pagination="true" data-locale="nl-NL" data-toolbar="#toolbar"
              data-cookie="true" data-cookie-id-table="project-{{ project.id }}" data-detail-view="true"
              data-detail-view-by-click="true" data-detail-view-icon="false" data-detail-formatter="detailFormatter"
              data-show-export="true" data-export-data-type="all"
              data-export-types="['csv', 'txt', 'json', 'xml', 'sql']"
              data-export-options='{"fileName": "{{ timestamp }}-{{ project.name | replace(' ', ' _')
              }}", "preventInjection" : false}'>
              <thead>
                <tr>
                  {# Hidden field required to make search work with the detailed view; NOTE: the id should always be the
                  first column of the table #}
                  <th data-force-hide="true" class="d-none">id</th>
                  <th data-sortable="true" data-field="activiteit">activiteit</th>
                  <th data-force-hide="true" data-sortable="true" data-field="bedrag" data-sorter="customSort">bedrag €
                  </th>
                  <th data-sortable="true" data-field="betaalpas" class="d-none d-xl-table-cell">betaalpas</th>
                  <th data-sortable="true" data-field="ontvanger" class="d-none d-md-table-cell">ontvanger</th>
                  <th data-sortable="true" data-field="omschrijving" class="d-none d-sm-table-cell">omschrijving</th>
                  <th data-sortable="true" data-field="datum" data-sorter="sortByDate" class="d-none d-xl-table-cell">
                    datum</th>
                  <th data-sortable="true" data-field="media" data-force-hide="true" class="d-none d-xl-table-cell">
                    media</th>
                  <th data-force-hide="true">details</th>
                  {# The columns below are hidden, but need to be included to make their content exportable #}
                  <th class="d-none">betaalomschrijving</th>
                  <th class="d-none">lange omschrijving</th>
                  <th class="d-none">bedrag €</th>
                  <th class="d-none">categorie</th>
                  <th class="d-none">betaler</th>
                  <th class="d-none">bankrekening betaler</th>
                  <th class="d-none">bankrekening ontvanger</th>
                  <th class="d-none">route</th>
                  <th class="d-none">type</th>
                  <th class="d-none">verborgen</th>
                  {# Hidden column used to generate the detailed view #}
                  <th data-force-hide="true" class="d-none">detail-view</th>
                </tr>
              </thead>
              <tbody>
                {% for payment in payments|sort(attribute='booking_date', reverse=true) %}
                {% set bonnen = [] %}
                {% set media = [] %}
                {% for attachment in payment.attachments %}
                {% if attachment.mediatype == 'bon' %}
                {{ bonnen.append(attachment)|default("", True) }}
                {% elif attachment.mediatype == 'media' %}
                {{ media.append(attachment)|default("", True) }}
                {% endif %}
                {% endfor %}
                {% set payment_form = {} %}
                {% if payment.editable %}
                {% set payment_form = payment_forms[payment.id] %}
                {% endif %}

                {% if (not payment.hidden and not payment.subproject.hidden ) or (permissions.PROJECT_OWNER or
                payment.subproject.id in user_subproject_ids)
                %}
                <tr{% if payment.type=='MANUAL_PAYMENT' %} class="manual-payment" {% elif payment.type=="MANUAL_TOPUP"
                  %} class="manual-topup" {% endif %} id="payment_row_{{ payment.id }}">
                  <td>
                    <div class="cell">
                      {{ payment.id }}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.subproject is not none %}
                      <a href="{{ url_for('subproject', project_id=project.id, subproject_id=payment.subproject.id) }}">{{
                        payment.subproject.name }}</a>
                      {% else %}
                      Hoofdactiviteit
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell justify-content-end">
                      {% if payment.transaction_amount >= 0 %}
                      <h1 class="text-blue text-right">{{ payment.get_formatted_currency() }}</h1>
                      {% else %}
                      <h1 class="text-red text-right">{{ payment.get_formatted_currency() }}</h1>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.debit_card.card_number %}
                      {{ payment.debit_card.card_number }}
                      {% else %}
                      <i>handmatige betaling</i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.type == "MANUAL_TOPUP" or (payment.type == "BNG" and payment.route == "inkomsten")
                      %}
                      Betaalpas
                      {% elif (payment.type == "MANUAL_PAYMENT" or (payment.type == "BNG" and payment.route ==
                      "uitgaven")) and payment.creditor_name %}
                      {{ payment.creditor_name }}
                      {% else %}
                      <i>niet ingevuld</i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.short_user_description %}
                      {{ payment.short_user_description }}
                      {% else %}
                      <i>niet ingevuld</i>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {{ payment.booking_date.strftime('%d-%m-\'%y') }}
                    </div>
                  </td>
                  <td>
                    <div class="cell justify-content-center">
                      {% if bonnen %}
                      <i class="fas fa-2x fa-receipt"></i></center>
                      {% endif %}
                      {% if bonnen and media %}
                      &nbsp;
                      {% endif %}
                      {% if media %}
                      <i class="fas fa-2x fa-camera"></i></center>
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell last-cell justify-content-center">
                      <button type="button" class="btn button-detail"><i class="fas fa-chevron-down"></i></button>
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.remittance_information_structured %}
                      {{ payment.remittance_information_structured }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.long_user_description %}
                      {{ payment.long_user_description }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {{ payment.get_export_currency() }}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {{ payment.category.name }}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.debtor_name %}
                      {{ payment.debtor_name }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.debtor_account %}
                      {{ payment.debtor_account }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.creditor_account %}
                      {{ payment.creditor_account }}
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {{ payment.route }}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.type == "MANUAL_PAYMENT" %}
                      handmatige betaling
                      {% elif payment.type == "MANUAL_TOPUP" %}
                      handmatige storting naar betaalpas
                      {% else %}
                      BNG
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div class="cell">
                      {% if payment.hidden %}
                      verborgen
                      {% else %}
                      zichtbaar
                      {% endif %}
                    </div>
                  </td>
                  <td>
                    <div id="detail-{{ payment.id }}" class="d-none">
                      <div class="detail-row">
                        {% if payment.editable %}
                        <form method="POST">
                          {% endif %}
                          <div class="row">
                            <div class="col-12 col-sm-6">
                              {% if payment.type == "MANUAL_TOPUP" %}
                              {{ macros.payment_info_left_manual_topup(payment_form, payment) }}
                              {% elif payment.type == "MANUAL_PAYMENT" %}
                              {{ macros.payment_info_left_manual_payment(payment_form, payment) }}
                              {% elif payment.type == "BNG" and payment.route == "inkomsten" %}
                              {{ macros.payment_info_left_automatic_topup(payment_form, payment) }}
                              {% elif payment.type == "BNG" and payment.route == "uitgaven" %}
                              {{ macros.payment_info_left_debit_card(payment_form, payment) }}
                              {% endif %}
                            </div>
                            <div class="col-12 col-sm-6">
                              {{ macros.payment_info_right(payment_form, payment) }}
                            </div>
                          </div>
                          {% if payment.editable %}
                        </form>
                        {% endif %}
                        <div class="row">
                          <div class="col-12 col-sm-6">
                            {% if payment.attachments.all() %}
                            <hr>
                            <div class="row">
                              {% if bonnen %}
                              <div class="col-12">
                                <b>Bonnen</b>
                              </div>
                              {% for attachment in bonnen %}
                              {{ macros.edit_attachment_form_project(attachment, edit_attachment_forms, payment) }}
                              {% endfor %}
                              {% endif %}

                              {% if media %}
                              <div class="col-12">
                                <b>Media</b>
                              </div>
                              {% for attachment in media %}
                              {{ macros.edit_attachment_form_project(attachment, edit_attachment_forms, payment) }}
                              {% endfor %}
                              {% endif %}
                            </div>
                            {% endif %}
                          </div>
                          <div class="col-12 col-sm-6">
                            {# Make sure the user is allowed to edit this payment (especially needed when a normal
                            users
                            edits a subproject payment on a project page #}
                            {% if payment.editable %}
                            {% if transaction_attachment_form %}
                            <hr>
                            <b>Nieuwe media toevoegen</b>
                            <form method="POST" enctype="multipart/form-data">
                              {{ transaction_attachment_form.csrf_token }}
                              {% for f in transaction_attachment_form %}
                              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                              <div>
                                {{ wtf.form_field(f, class="form-control") }}
                              </div>
                              {% endif %}
                              {% endfor %}
                              {{ transaction_attachment_form.payment_id(**{'value': payment.id}) }}
                              {{ transaction_attachment_form.submit() }}
                            </form>
                            {% endif %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  </tr>
                  {% endif %}
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# We can't put the modal code next to the button code, because it doesn't seem to work in combination with Bootstrap
  Table's detail view #}
  {% if edit_attachment_forms %}
  {% for payment in payments %}
  {% if payment.editable %}
  {% for attachment in payment.attachments %}
  {% include 'partials/remove_attachment_form.html' %}
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if permissions.PROJECT_OWNER %}
  {% for payment in payments %}
  {% if payment.editable and payment_forms[payment.id].remove %}
  <!-- Modal -->
  <div class="modal fade" id="transactie-verwijder-{{ payment.id }}" tabindex="-1" role="dialog"
    aria-labelledby="transactieVerwijderLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="transactieVerwijderLabel">Transactie Verwijderen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <p>Weet u zeker dat u deze transactie wilt verwijderen?</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {{ payment_forms[payment.id].csrf_token }}
            {{ payment_forms[payment.id].id }}
            {{ payment_forms[payment.id].remove }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

  {% if permissions.PROJECT_OWNER %}
  <!-- Modal for 'Project owner toevoegen' -->
  <div class="modal fade" id="project-owner-toevoegen" tabindex="-1" role="dialog"
    aria-labelledby="projectOwnerToevoegenLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="projectOwnerToevoegenLabel">Initiatiefnemer Toevoegen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Als er nog geen gebruiker bestaat met dit e-mailadres dan krijgt deze een uitnodigingsmail met daarin een
              link om een wachtwoord aan te maken. Als er wel al een gebruiker bestaat met dit e-mailadres dan krijgt
              deze gebruiker 'initiatiefnemer'-rechten (er wordt daar geen e-mail over verstuurd).</p>
            <div>
              {{ add_user_form.csrf_token }}

              {{ wtf.form_field(add_user_form.email, class="form-control") }}
              {{ add_user_form.project_id(**{'value': project_data.id}) }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {{ add_user_form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if permissions.PROJECT_OWNER %}
  {% for edit_project_owner_form, project_owner_email in project_owners %}
  <!-- Modal for 'Project owner beheren' -->
  <div class="modal fade" id="project-owner-beheren-{{ edit_project_owner_form.id.data }}" tabindex="-1" role="dialog"
    aria-labelledby="projectOwnerbeherenLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="projectOwnerbeherenLabel">Initiatiefnemer beheren</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              {{ edit_project_owner_form.csrf_token }}

              {% for f in edit_project_owner_form %}
              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
              {{ wtf.form_field(f, class="form-control") }}
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {{ edit_project_owner_form.id }}
            {{ edit_project_owner_form.project_id }}
            {{ edit_project_owner_form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% if permissions.ADMIN %}
  <div class="modal fade" id="betaalpas-toevoegen" tabindex="-1" role="dialog" aria-labelledby="betaalpasToevoegenLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="betaalpasToevoegenLabel">Betaalpas toevoegen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Voeg een betaalpas toe aan dit initiatief. Betalingen die worden gedaan met deze betaalpas worden
              automatisch aan dit initiatief gekoppeld.</p>
            <div>
              {{ add_debit_card_form.csrf_token }}
              {{ wtf.form_field(add_debit_card_form.card_number, class="form-control") }}
              {{ add_debit_card_form.project_id }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {{ add_debit_card_form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% if permissions.ADMIN %}
  {% for edit_debit_card_form, card_number in edit_debit_card_forms %}
  <div class="modal fade" id="betaalpas-beheren-{{ edit_debit_card_form.id.data }}" tabindex="-1" role="dialog"
    aria-labelledby="debitCardbeherenLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="debitCardbeherenLabel">Betaalpas beheren</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              {{ edit_debit_card_form.csrf_token }}

              {{ wtf.form_field(edit_debit_card_form.remove_from_project, class="form-control") }}
              {{ edit_debit_card_form.id }}
              {{ edit_debit_card_form.project_id }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {{ edit_debit_card_form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% if not project_data.hidden_sponsors and permissions.PROJECT_OWNER %}
  {% for funder_form, funder_object in funder_forms %}
  <!-- Modal voor sponsor beheren -->
  <div class="modal fade" id="sponsor-beheren-{{ funder_form.id.data }}" tabindex="-1" role="dialog"
    aria-labelledby="sponsorbeherenLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="sponsorbeherenLabel">Sponsor Beheren</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              {% if not funder_object.justified %}
              {{ funder_form.csrf_token }}

              {% for f in funder_form %}
              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
              {{ wtf.form_field(f, class="form-control")}}
              {% endif %}
              {% endfor %}
              {% if funder_object.has_at_least_one_subproject %}
              <p>Het is niet mogelijk om deze sponsor te verwijderen, omdat deze gekoppeld is aan minstens één
                activiteit. Ontkoppel de sponsor indien mogelijk, om deze te kunnen verwijderen.</p>
              {% endif %}
              {{ funder_form.id }}
              {{ funder_form.project_id }}
              {% else %}
              <p>Het is niet mogelijk om aanpassingen te doen aan deze sponsor, of om deze te
                verwijderen, omdat deze sponsor is verantwoord.</p>
              {% endif %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {% if not funder_object.justified %}
            {% if not funder_object.has_at_least_one_subproject %}
            {{ funder_form.remove }}
            {% endif %}
            {{ funder_form.submit }}
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endif %}

  {% if not project_data.hidden_sponsors and permissions.PROJECT_OWNER %}
  <!-- Modal -->
  <div class="modal fade" id="sponsor-toevoegen" tabindex="-1" role="dialog" aria-labelledby="sponsorToevoegenLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="sponsorToevoegenLabel">Sponsor Toevoegen</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Annuleren">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              {{ new_funder_form.csrf_token }}

              {% for f in new_funder_form %}
              {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
              {{ wtf.form_field(f, class="form-control") }}
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuleren</button>
            {{ new_funder_form.submit }}
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endif %}

  {% endblock %}

  {% block scripts %}
  <script>
    categories_dict = {{ categories_dict | tojson }};
    window.modal_id = {{ modal_id | safe }};
    window.paymentId = {{ payment_id | safe }};
  </script>
  {{ super() }}
  <script>
    window.wizard = new FormWizard(".interactive-form")
  </script>
  {% endblock %}