{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}
{% block head %}
<title>Open Poen - Initiatiefprofiel</title>
<meta property="og:title" content="Open Poen - Initiatiefprofiel" />
{{ super() }}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h1>{{ project.name }}</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-12 col-sm-9 col-md-6">
            {{ macros.info_unit("Beschrijving:", project.description) }}
            {{ macros.info_unit("Doel:", project.purpose) }}
            {{ macros.info_unit("Doelgroep:", project.target_audience) }}
            {{ macros.info_unit("Beheerder:", project.owner) }}
            {{ macros.info_unit("E-mail beheerder:", project.owner_email) }}
            <b>Initiatiefnemers</b>
            <br>
            {% if project.users | list | length > 0 %}
            <ul>
                {% for user in project.users %}
                <li><a href="{{ url_for('profile', user_id=user.id) }}">{{ user.first_name }} {{ user.last_name }}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <i>Dit initiatief heeft nog geen initiatiefnemers.</i>
            <br>
            <br>
            {% endif %}
            {{ macros.info_unit("Rechtsvorm:", project.legal_entity) }}
            {{ macros.info_unit("Adres aanvrager:", project.address_applicant) }}
            {{ macros.info_unit("KvK:", project.registration_kvk) }}
            {{ macros.info_unit("Locatie initiatief:", project.project_location) }}
        </div>
        <div class="col-12 col-sm-3 col-md-6">
            {% if image %}
            <div class="attachment-div">
                <a class="embed-responsive embed-responsive-16by9"
                    href="{{ url_for('upload', filename='project-attachment/' + image.filename) }}"
                    data-toggle="lightbox" data-gallery="image-gallery-{{ project.id }}">
                    <img class="img-fluid embed-responsive-item attachment"
                        src="{{ url_for('upload', filename='project-attachment/' + image.filename) }}">
                </a>
            </div>
            <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#bijlage-verwijder-{{ image.id }}">
                Verwijderen
            </button>
            {{ macros.remove_attachment_modal(image, edit_attachment_form) }}
            {% else %}
            <form method="POST" enctype="multipart/form-data">
                {{ edit_project_profile_form.csrf_token }}
                {% for f in edit_project_profile_form %}
                {% if f.widget.input_type != 'hidden' and f.widget.input_type != 'submit' %}
                {{ wtf.form_field(f, class="form-control") }}
                {% endif %}
                {% endfor %}
                {{ edit_project_profile_form.submit }}
            </form>
            {% endif %}
            <hr>
            <b>Lopende activiteiten:</b>
            {% if project.subprojects | list | length > 0 %}
            <ul>
                {% for subproject in project.subprojects %}
                <li><a href="{{ url_for('subproject', project_id=project.id, subproject_id=subproject.id) }}">{{
                        subproject.name}}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <i>Er zijn geen lopende activiteiten.</i>
            <br>
            <br>
            {% endif %}
            <b>Afgeronde activiteiten:</b>
            <br>
            <br>
            <b>Verantwoorde activiteiten:</b>
            <br>
            <br>
        </div>
    </div>
    <br>
    <h1>Sponsoren:</h1>
    <br>
    <br>
    <div class="row">
        {% if project.funders | list | length == 0 %}
        <p>Dit initiatief heeft nog geen sponsors.</p>
        {% else %}
        <div class="table-responsive">
            <table class="table table-striped profile-table">
                <thead>
                    <tr>
                        <th scope="col">Sponsor(s):</th>
                        <th scope="col">Subsidieregeling:</th>
                        <th scope="col">Beschikkingsnummer:</th>
                        <th scope="col">Budget:</th>
                        <th scope="col">Activiteiten:</th>
                    </tr>
                </thead>
                <tbody>
                    {% for funder in project.funders %}
                    <tr>
                        <!-- TODO: How to render if the variable is None? -->
                        <td>{{ funder.name }}</td>
                        <td>{{ funder.subsidy }}</td>
                        <td>{{ funder.subsidy_number }}</td>
                        <td>{{ funder.budget }}</td>
                        <td>
                            {% if funder.subprojects | list | length == 0 %}
                            Geen.
                            {% else %}
                            {% for subproject in funder.subprojects %}
                            <a
                                href="{{ url_for('subproject', project_id=subproject.project_id, subproject_id=subproject.id) }}">{{
                                subproject.name }}</a>
                            <br>
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <br>
    <br>
    <!-- TODO: Begroting bekijken / downloaden. -->
    <a href="{{ url_for('project', project_id=project.id) }}"><b>Initiatief beheren</b></a>
    <br>
    <br>
    <b class="projectprofile-action">Tussentijds rapporteren</b>
    <br>
    <br>
    <b class="projectprofile-action">Verantwoorden</b>
</div>
{% endblock %}